{# src/Accounting/SuppliersProductsBundle/Resources/views/Default/index.html.twig #}
{% extends 'AccountingSuppliersProductsBundle::layout.html.twig' %}

{% block body %}
    <h2>Supplier Products</h2>
    <ul id="menu">
        <li><a href="{{ path('AccountingSuppliersProductsBundle_index') }}">All</a></li>
        <li><a href="{{ path('AccountingSuppliersProductsBundle_filter') }}">Filter by week/month</a></li>
        <li><a href="{{ path('AccountingSuppliersProductsBundle_new') }}">Add entry</a></li>
    </ul>
    <div id="clientsDb">

    {% block form %}{% endblock %}

    {% block grid %}
        <div id="grid" style="height: 500px"></div>
    {% endblock %}

    </div>
    {% block window_container %}{% endblock %}
{% endblock %}

{% block javascripts_embedded %}
<script>
var spIndexUrlObj = { read: "{{ path('AccountingSuppliersProductsBundle_list') }}" }
</script>
<script src="{{ asset('bundles/accounting/js/sp.schema.js') }}"></script>
<script src="{{ asset('bundles/accounting/js/sp.columns.js') }}"></script>
<script src="{{ asset('bundles/accounting/js/sp.index.js') }}"></script>
{% endblock %}