<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/accounting/css/demo.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <a href="{{ path('AccountingMainBundle_homepage') }}">
                    <img src="{{ asset('bundles/accounting/images/cashbox2.png') }}" alt="Accounting logo" />
                </a>
                <form id="symfony-search" method="GET" action="http://symfony.com/search">
                    <label for="symfony-search-field"><span>Search on website</span></label>
                    <input name="q" id="symfony-search-field" type="search" placeholder="Search on website" class="medium_txt" />
                    <input type="submit" class="symfony-button-grey" value="OK" />
                </form>
            </div>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content_header %}
                <ul id="menu">
                    {% block content_header_more %}
                        <li><a href="{{ path('AccountingMainBundle_homepage') }}">Home</a> | </li>
                        <li><a href="{{ path('AccountingPriceListBundle_index') }}">Price List</a></li>
                        <li><a href="{{ path('AccountingDeliveriesBundle_index') }}">Deliveries</a></li>
                        <li><a href="{{ path('AccountingWarehouseBundle_index') }}">Warehouse</a> | </li>
                        <li><a href="{{ path('AccountingMainBundle_about') }}">About</a></li>
                        <li><a href="{{ path('AccountingMainBundle_contact') }}">Contact</a></li>
                    {% endblock %}
                </ul>
                <div style="clear: both"></div>
            {% endblock %}

            <div class="symfony-content">
                {% block body %}{% endblock %}
            </div>

            {% if code is defined %}
                <h2>Code behind this page</h2>
                <div class="symfony-content">{{ code|raw }}</div>
            {% endif %}

            <div id="footer">
                {% block footer %}
                    Accounting website - created by jora
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>