{# src/Accounting/SaleProductsBundle/Resources/views/Page/index.html.twig #}
{% extends 'AccountingSaleProductsBundle::layout.html.twig' %}

{% block body %}
    <h2>Sale Products</h2>
    <div id="clientsDb">

        <div id="grid" style="height: 500px"></div>

    </div>
    {% include 'AccountingSuppliersProductsBundle::Default/product.html.twig' %}
    {% include 'AccountingSuppliersProductsBundle::Default/unit.html.twig' %}
    {% include 'AccountingSaleProductsBundle::Default/customer.html.twig' %}
{% endblock %}


{% block javascripts_embedded %}
<script>
var newUrlObj = {
read: "{{ path('AccountingSuppliersProductsBundle_listFull') }}",
create: "{{ path('AccountingSuppliersProductsBundle_create') }}",
destroy: "{{ path('AccountingSuppliersProductsBundle_delete') }}",
load: "{{ path('AccountingSuppliersProductsBundle_dropdowns') }}",
createProduct: "{{ path('AccountingSuppliersProductsBundle_createProduct') }}",
createSupplier: "{{ path('AccountingSuppliersProductsBundle_createSupplier') }}",
createUnit: "{{ path('AccountingSuppliersProductsBundle_createUnit') }}",
}
var saleUrlObj = {
read: "{{ path('AccountingSaleProductsBundle_list') }}",
create: "{{ path('AccountingSaleProductsBundle_create') }}",
createCustomer: "{{ path('AccountingSaleProductsBundle_createCustomer') }}",
destroy: "{{ path('AccountingSaleProductsBundle_delete') }}",
load: "{{ path('AccountingSuppliersProductsBundle_dropdowns') }}",
}
</script>
<script src="{{ asset('bundles/accounting/js/base/base.js') }}"></script>
<script src="{{ asset('bundles/accounting/js/customer/customerForm.js') }}"></script>
<script src="{{ asset('bundles/accounting/js/sale.product.js') }}"></script>
<script src="{{ asset('bundles/accounting/js/sp.new.columns.js') }}"></script>
<script src="{{ asset('bundles/accounting/js/sp.product.js') }}"></script>
<script src="{{ asset('bundles/accounting/js/sp.unit.js') }}"></script>
{% endblock %}